<div class="row">
  <div class="col-md-6">
    <button data-toggle="modal" data-target="#empresaModal" class="btn btn-primary" (click)="onClick()">Agregar Empresa</button>
  </div>
</div>
<br>
<br>


<div class="modal fade" id="empresaModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="font-w-bold" id="lineModalLabel">Agregar Empresa</h3>
      </div>
      <div class="modal-body">

        <!-- content goes here -->

        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">

          <div class="form-group">
            <input name="nombre" #nombre="ngModel" [(ngModel)]="service.formData.nombre" class="form-control"
              placeholder="Nombre" required>
            <div *ngIf="nombre.invalid && nombre.touched" class="validation-error">This field is required.</div>
          </div>

          <div class="form-group">
            <input name="contrasena" #contrasena="ngModel" [(ngModel)]="service.formData.contrasena"
              class="form-control" placeholder="Contraseña">
          </div>


          <!-- Queda pendiente el hecho de poner todos los enlaces -->
          


          <div class="form-group">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>Datos de Enlace 1</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="form-group">
                        <input name="enlace1" #enlace1="ngModel" [(ngModel)]="service.formData.enlace1" class="form-control"
                          placeholder="Enlace">
                      </div>
                  <div class="form-group">
                    <input name="telfono1" #telefono1="ngModel" [(ngModel)]="service.formData.telefono1"
                      class="form-control" placeholder="Teléfono">
                  </div>

                  <div class="form-group">
                    <input name="correo1" #correo1="ngModel" [(ngModel)]="service.formData.correo1" class="form-control"
                      placeholder="Correo">
                  </div>

                  <div class="form-group">
                    <input name="domicilio1" #domicilio1="ngModel" [(ngModel)]="service.formData.domicilio1"
                      class="form-control" placeholder="Domicilio">
                  </div>


                  <div class="form-group">
                    <input name="celular1" #celular1="ngModel" [(ngModel)]="service.formData.celular1"
                      class="form-control" placeholder="Celular">
                  </div>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item>
                  <nb-accordion-item-header>Datos de Enlace 2</nb-accordion-item-header>
                  <nb-accordion-item-body>
                      <div class="form-group">
                          <input name="enlace2" #enlace2="ngModel" [(ngModel)]="service.formData.enlace2" class="form-control"
                            placeholder="Enlace">
                        </div>
                    <div class="form-group">
                      <input name="telefono2" #telefono2="ngModel" [(ngModel)]="service.formData.telefono2"
                        class="form-control" placeholder="Teléfono">
                    </div>
  
                    <div class="form-group">
                      <input name="correo2" #correo2="ngModel" [(ngModel)]="service.formData.correo2" class="form-control"
                        placeholder="Correo">
                    </div>
  
                    <div class="form-group">
                      <input name="domicilio2" #domicilio2="ngModel" [(ngModel)]="service.formData.domicilio2"
                        class="form-control" placeholder="Domicilio">
                    </div>
  
  
                    <div class="form-group">
                      <input name="celular2" #celular2="ngModel" [(ngModel)]="service.formData.celular2"
                        class="form-control" placeholder="Celular">
                    </div>
                  </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>Datos de Enlace 3</nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <div class="form-group">
                            <input name="enlace3" #enlace3="ngModel" [(ngModel)]="service.formData.enlace3" class="form-control"
                              placeholder="Enlace">
                          </div>
                      <div class="form-group">
                        <input name="telefono3" #telefono3="ngModel" [(ngModel)]="service.formData.telefono3"
                          class="form-control" placeholder="Teléfono">
                      </div>
    
                      <div class="form-group">
                        <input name="correo3" #correo3="ngModel" [(ngModel)]="service.formData.correo3" class="form-control"
                          placeholder="Correo">
                      </div>
    
                      <div class="form-group">
                        <input name="domicilio3" #domicilio3="ngModel" [(ngModel)]="service.formData.domicilio3"
                          class="form-control" placeholder="Domicilio">
                      </div>
    
    
                      <div class="form-group">
                        <input name="celular3" #celular3="ngModel" [(ngModel)]="service.formData.celular3"
                          class="form-control" placeholder="Celular">
                      </div>
                    </nb-accordion-item-body>
                  </nb-accordion-item>
            </nb-accordion>
          </div>
        
          <div class="form-group">
            <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info"
              onclick="$('.modal').modal('hide')">Guardar</button>
          </div>

        </form>


        <!-- fin del contenido -->


        <div class="modal-footer">



        </div>

      </div>
    </div>
  </div>
</div>