<!-- <div class="row">
  <div class="col-md-3">
    <ngx-empresa></ngx-empresa>
  </div>

  <div class="col-md-7">
    <ngx-empresa-list></ngx-empresa-list>
  </div>
</div> -->


<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          Control de Empresas
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-5">
                <ngx-empresa></ngx-empresa>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
                <ngx-empresa-list></ngx-empresa-list>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>