<!-- <div class="row">
  <div class="col-md-12">

    <!-- Tabla de todos los asuntos --

    <table class="table table-striped">
      <thead>
        <!-- <th scope="col" sortable="control" (sort)="onSort($event)">Control</th> --
        <th scope="col" sortable="expediente" (sort)="onSort($event)">Fecha</th>
        <th scope="col" sortable="empresa" (sort)="onSort($event)">Cantidad</th>
        <th scope="col" sortable="ciudad" (sort)="onSort($event)">Autoriza</th>
        <th scope="col" sortable="junta" (sort)="onSort($event)">Abogado</th>
        <th scope="col" sortable="ubicacion" (sort)="onSort($event)">Medio</th>
        <th scope="col" sortable="estatus" (sort)="onSort($event)">Cometario Empresa</th>
        <th scope="col" sortable="accion" (sort)="onSort($event)">Comentario Abogado</th>
        <th>Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let asu of list; let i=index">


          <!-- <td>{{asu.control}}</td> --
          

          <td>{{asu.fecha}}</td>
          <td>{{asu.cantidad}}</td>
          <td>{{asu.autoriza}}</td>
          <td>{{asu.abogado}}</td>
          <td>{{asu.medio}}</td>
          <td>{{asu.comempresa}}</td>
          <td>{{asu.comabogado}}</td>
          <td><a class="btn text-danger" (click)="onDelete(asu.id)"><i class="fa fa-trash"></i></a></td>
        </tr>


      </tbody>
    </table>
  </div>
</div> -->

<div class="row">
    <div class="col-md-12">
        <ng2-smart-table 
        [settings]="settings" 
        [source]="list" >
        </ng2-smart-table>
    </div>
  </div>