
<!----
<table class="table table-striped">
  <thead>
    -- <th>Id</th> --
    <th>Nombre</th>
    <th>contraseña</th>
    <th>Enlace</th>
    <!-- <th>Telefono</th>
    <th>Domicilio</th>
    <th>Correo</th>
    <th>Celular</th> --
    <th>Acciones</th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of list">
      <!-- <td (click)="onEdit(emp)">{{emp.id}}</td> --
      <td >{{emp.nombre}}</td>
      <td >{{emp.contrasena}}</td>
      <td >{{emp.enlace}}</td>
      <!-- <td (click)="onEdit(emp)">{{emp.telefono1}}</td>
      <td (click)="onEdit(emp)">{{emp.domicilio1}}</td>
      <td (click)="onEdit(emp)">{{emp.correo1}}</td>
      <td (click)="onEdit(emp)">{{emp.celular1}}</td> --
      <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>
-->
<div *ngFor="let emp of list">

</div>

<div class="row">
    <div class="col-md-12">
        <ng2-smart-table width = "100%" 
        [settings]="settings" 
        [source]="list" >
        
        </ng2-smart-table>
    </div>
  </div>
  

